{#
  Mermaid diagram shortcode

  Usage:
    {% mermaid() %}
    graph TD;
        A-->B;
        A-->C;
        B-->D;
        C-->D;
    {% end %}

  This shortcode uses the Kroki service to render the Mermaid diagram and appends an appropriate theme to each diagram.
#}

{% set body = "
%%{
  init: {
    'theme': 'base',
    'themeVariables': {
      'primaryColor': '#FFF7E6',
      'primaryTextColor': '#4D3800',
      'primaryBorderColor': '#FFD980',
      'lineColor': '#FFB81A',
      'secondaryColor': '#FFFBF2',
      'tertiaryColor': '#FFF7E6',
      'fontFamily': 'Raleway, sans-serif',
      'fontSize': '22px'
    }
  }
}%%
" ~ body %}
{% set postdata = load_data(url="https://kroki.io/mermaid/svg", format="plain", method="POST", content_type="text/plain", body=body) %}

{% set adjusted_svg = postdata | replace(from='<svg ', to='<svg preserveAspectRatio="xMinYMin meet" ') %}

<div class="mermaid-diagram">
  {{adjusted_svg|safe}}
</div>
