<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.title %}
    <title>{{ page.title }} - {{ config.title }}</title>
    {% elif section.title %}
    <title>{{ section.title }} - {{ config.title }}</title>
    {% endif %}

    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
    {% elif section.description %}
        <meta name="description" content="{{ section.description }}">
    {% endif %}

    <link rel="stylesheet" href="{{ get_url(path="css/styles.css") | safe }}">
</head>
<body class="flex flex-col min-h-screen">
    {% include "partials/header.html" %}

    <main class="container grow mx-auto px-4 py-8">
        {% block content %}{% endblock content %}
    </main>

    {% include "partials/footer.html" %}
</body>
</html>
