{% macro list(pages) %}
<div class="space-y-8">
    {% for page in pages %}
    <a href="{{ page.permalink }}" class="block bg-white shadow-md rounded-lg border border-premium-gold-200 transition duration-300 hover:shadow-lg relative">
        <article class="p-6 group/card flex flex-col gap-2">
            <h2 class="text-2xl font-bold text-gray-800 group-hover/card:text-premium-gold-600 transition duration-300">
                {{ page.title }}
            </h2>
            <p class="text-gray-600 mb-2">Published on <time datetime="{{ page.date }}">{{ page.date | date(format="%B %d, %Y") }}</time></p>
            {% if page.description %}
            <p>{{ page.description }}</p>
            {% endif %}
            <div class="inline-flex gap-2 justify-end md:absolute right-6 bottom-6 mt-2 md:p-2 md:bg-gray-50 md:hover:bg-gray-100 rounded group/hint opacity-100 md:opacity-0 group-hover/card:opacity-100 transition duration-300">
                <span class="text-premium-gold-800">Read full article</span>
                <svg class="w-6 h-6 text-premium-gold-800 group-hover/hint:text-premium-gold-600 transform group-hover/hint:translate-x-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
            </div>
        </article>
    </a>
    {% endfor %}
</div>
{% endmacro %}
